.badge-primary {
  background-color: blue;
}

.badge-warning {
  background: yellow;
}

span {
  margin: auto;
  border-radius: 10px;
  padding: 3px 10px;
}

.secondary {
  background-color:blue;
}

.danger {
  background-color: red;
}

.container {
  margin: 10px
}